#microscope{
    position: relative;
    display: inline-block;
    background: blue;
    width: 95%;
    margin: 0 auto;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 3px #2d2d2d;

    #microscope_img{
        position: relative;
    }

    img{
        display: block;
        width: 100%;
    }

    .zoom{
        position: absolute;
        width: 15%;
        height: 10%;
        border: 2px solid #000;
        cursor: zoom-in;

        &:hover{
            border-color: #fff;
        }

        span{
            position: absolute;
            top: -20px;
            left: 5px;
        }
    }

    &:hover{
        .legenda{
            display: block;
        }
    }
    
    .legenda{
        display: none;

        > div:nth-child(1){
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%,#000 100%);
            min-height: 200px;
        }
    
        > div:nth-child(2){
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            min-height: 200px;
        }
    }
}

@media only screen and (min-width: 1050px) {
    #microscope{
        #microscope_img{
            width: 850px;
        }
    }
}

.scroll_message{
    display: inline-block;
    width: 95%;
    text-align: center;
    margin-top: 10px;
    color: #ccc;

    svg{
        animation: shake_vertical 3s infinite;
    }
}

@keyframes shake_vertical{
    0%{ transform: translateY(10px) }
    50%{ transform: translateY(0px) }
    100%{ transform: translateY(10px) }
}